<a class="skip-link" href="#main">{{common.a-skip-to-content}}</a>
<nav aria-label="{{common.arialabel-main}}">
  <div class="wrap nav-inner">
    <a class="brand" href="/">{{common.a-louai-bouraoui}}</a>

    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="nav-menu">
      {{common.button-menu}}
    </button>

    <div class="nav-menu" id="nav-menu">
      <ul class="nav-links">
        <li>{{common.li-worku}}</li>
        <li>{{common.li-seo}}</li>
        <li>{{common.li-ux-ui}}</li>
        <li>{{common.li-search-console}}</li>
        <li>{{common.li-content}}</li>
        <li>{{common.li-about}}</li>
      </ul>
      %LANG_SWITCH%
      <a class="nav-cta" href="%CV_HREF%" %CV_DOWNLOAD%>%CV_LABEL%</a>
    </div>
  </div>
</nav>
